name=""
title=""
description=""

postgres_address=""
postgres_port=0
postgres_db_name=""
postgres_user=""
postgres_password=""

rest_port=0

dataway_grpc_address=""
dataway_grpc_port=0

rmq_address=""
rmq_port=0
rmq_vhost=""
rmq_user=""
rmq_password=""
rmq_consume_queue=""
rmq_dle=""

dw_exchange=""
dw_routing_key=""